/*
  Color Schemes

    DARK BLUE
    Wet Asphalt  = #34495e
    Midnight     = #2c3e50

    PURPLE
    Amethyst     = #9b59b6
    Wisteria     = #8e44ad

    BLUE
    Peter River  = #3498db
    Belize Hole  = #2980b9

    GREEN
    Emerald      = #2ecc71
    Nephritis    = #27ae60

    TEAL
    Turquoise    = #1abc9c
    Green Sea    = #16a085

    YELLOW
    Sun Flower   = #f1c40f
    Orange       = #f39c12

    ORANGE
    Carrot       = #e67e22
    Pumpkin      = #d35400

    RED
    Alizarin     = #e74c3c
    Pomegranate  = #c0392b

    WHITE
    Clouds       = #ecf0f1
    Silver       = #bdc3c7

    GREY
    Concrete     = #95a5a6
    Asbestos     = #7f8c8d

*/


/* ==========
  Common
========= */
html, body{background:url(../img/bg.jpg) top center;background-size:cover;}
.container{width:960px;margin:0 auto;}
img{max-width:100%;height:auto;}

/* ==========
  Header
========= */
header{}
  body.home header{position:relative;top:0;z-index:2;margin:0 0 -111px;}
  header .container{position:relative;}
  header .container > .gutter{padding:69px 20px 19px;}
  header #logo{float:left;position:absolute;top:0;left:-114px;}
    body.home #logo{opacity:0;transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;}
    body.home #logo.active{opacity:1;}

  header #mainNav{width:100%;margin:0 auto;}
    #mainNav ul{width:100%;text-align:center;}
      #mainNav ul li{display:inline-block;position:relative;padding: 0 60px;}
        #mainNav ul li a{color:#3e3e3e;position:relative;font: 17px/12px ronnia;text-transform: uppercase;}
          #mainNav ul li a:hover:before, #mainNav ul li.current-menu-item a:before, #mainNav ul li.current-menu-parent a:before{content:'=';color:#e46e45;position:absolute;top:0;left: -21px;font: 28px/12px ronnia;}
    #mainNav ul ul{display:none;}

  header #contact-tab{position: absolute;top: 0;right: -52px;color: #fff;background: #e46e45;width: 153px;height: 89px;font:11px/11px ronnia;}
    #contact-tab .gutter{padding:23px 11px;}
    header #contact-tab span{display:block;width:100%;}
    header #contact-tab .top{font-weight:bold;text-transform:uppercase;margin:0 0 12px;}
    header #contact-tab .bottom{line-height:16px;}


/* ==========
  Index
========= */


/* ==========
  front-page
========= */
#scrollCont{position:relative;z-index:1;overflow:hidden;}
#scrollJack{position:relative;}
  #scrollJack > *{padding:111px 0 0;}

#home-intro .container > .gutter {padding:0 40px 0 39px;}

#home-intro #contentPrimary{width: 399px;float: left;height: 399px;overflow: hidden;border-radius: 399px;position:relative;margin:0 0 0 27px;}
  #home-intro #contentPrimary #logo-overlay{position:absolute;z-index:10;top:0;left:0;height:100%;width:100%;background:url(../img/logo-overlay.png) center center no-repeat;}
  #home-intro #contentPrimary > .gutter{}

  .post-entry{margin:0 0 50px;width:100%;float:left;}
    .post-entry .gutter{}
    .post-entry .post-entry-date{font-size:12px;}
    .post-entry .post-entry-excerpt, .post-entry .post-entry-content{width:100%;}
    .post-entry .post-meta{font-size:12px;}
      .post-meta > *{display:inline;padding:0 10px 0 0;margin:0 10px 0 0;border-right:1px solid #bdc3c7;}
      .post-meta > *:last-child{padding:0 10px 0 0;margin:0 10px 0 0;border-right:1px solid #bdc3c7;}
      .post-meta .post-meta-author{}
      .post-meta .post-meta-comments{}
      .post-meta .post-meta-category{}
      .post-meta .post-meta-tags{}
      .post-meta i{font-size:14px;}


#home-intro #contentSecondary{width:356px;float:right;margin:0 46px 0 0;}
  #home-intro #contentPrimary .gutter{}
    #home-intro #contentSecondary > img {margin: 94px 0 0;}

#home-intro #contentTertiary{width:100%;float:left;color:#fff;}
  #home-intro #contentTertiary .gutter{padding:24px 80px 21px 0px;}
  #home-intro #contentTertiary h1{font:35px/45px lexia;color:#fff;margin:0;}

#home-intro #home-exp{width:100%;float:left;margin:0 0 20px;}
  #home-exp .expand-pane{width:100%;float:left;margin:0 0 9px;}
    #home-exp .expand-pane:hover{cursor:pointer;}
      #home-exp .expand-pane.active:hover{cursor:default;}
    #home-exp .expand-pane.purple{background:#8e859e}
    #home-exp .expand-pane.blue{background:#7f97b9;}
    #home-exp .expand-pane .title{color:#323232;font:16px/32px ronnia;text-align:center;text-transform:uppercase;width:100%;display:block;}
    #home-exp .expand-pane .expansion{display:none;padding:27px 78px 5px 80px;}

    .expand-pane{padding:0 0;}
    .expand-pane .exp-col{float:left;width:32%;}
      .expand-pane .exp-col.c{float:right;width:32%;}
    .exp-col ul{list-style-image:url(../img/liArrow.png);padding: 0 0 0 24px;}
      .exp-col li{color:#323232;font:13px/19px ronnia;margin:0 0 13px;}
    .exp-col .story-title{font:14px/14px ronnia;font-style:italic;text-align:center;display:block;margin:0 0 16px;}
      .exp-col .story-title + img{text-align:center;margin:0 auto;display:block;transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;transform:translate(0,0);}

    .expand-pane.purple .exp-col.a .gutter{}
    .expand-pane.purple .exp-col.b .gutter{padding:0 0 0 57px;}
    .expand-pane.purple .exp-col.c .gutter{padding:0 0 0 50px;}

  #home-exp .expand-pane.blue .expansion{padding:20px 0;}
    .expand-pane.blue .exp-col:hover{cursor:pointer;}
      .expand-pane.blue .exp-col:hover .story-title + img{transform:translate(0,5px);}
    .expand-pane.blue .exp-col.a .gutter{}
    .expand-pane.blue .exp-col.b .gutter{padding:0 0 0 35px;}
    .expand-pane.blue .exp-col.c .gutter{}


/* ==========
  Story Panels

  blue     95c2ea
  purple   d6caeb
  teal     85d5e6
========= */
.home-story{}
  .home-story .container{width:1074px;}
  .home-story .home-story-banner{margin:0 0 59px;}
    .home-story .home-story-banner .container{height:401px;}

  .home-story .home-story-intro{font:34px/45px lexia;letter-spacing: 0.015em;margin:0 0 61px;}
      .home-story .home-story-intro .container .gutter{padding:0 25px 0 98px;}
    .home-story .home-story-intro span{color:#fff;}
    .home-story.a .home-story-intro{color:#95c2ea;}
    .home-story.b .home-story-intro{color:#d6caeb;}
    .home-story.c .home-story-intro{color:#85d5e6;}

  .home-story .home-story-content{padding:0 0 30px;}
    .home-story-content .home-story-contentPrimary{width: 53.8%;margin: 0 9% 0 0;float: right;}
      .home-story-content .home-story-contentPrimary .gutter{padding:0px;}
      .home-story-content .home-story-contentPrimary p{font-size: 15px;line-height: 22px;margin: 0 0 22px;}

    .home-story-content .home-story-contentSecondary{float: left;width: 26.1%;color: #323232;margin: 0 0 0 9.2%;}
      .home-story.a .home-story-content .home-story-contentSecondary{background:#7f97b9;}
      .home-story.b .home-story-content .home-story-contentSecondary{background:#8e859e;}
      .home-story.c .home-story-content .home-story-contentSecondary{background:#6eb0bc;}
      .home-story-content .home-story-contentSecondary .gutter{padding:17px 20px;}
        .home-story-contentSecondary h3 {font: 16px/24px ronnia;text-transform: uppercase;margin:0 0 20px;}
        .home-story-contentSecondary ul{list-style-image:url(../img/sideLiCaret.png);list-style-position:inside;}
          .home-story-contentSecondary ul li{font:12px/19px ronnia;margin: 0 0 19px;letter-spacing: 0.015em;word-spacing: 0.2em;}
      .home-story a.readmore{color: #fff;font: 11px/16px ronnia;position:relative;word-spacing:0.12em;text-decoration:none;}
        .home-story a.readmore:after{content:'';position:absolute;bottom: 4px;right: -14px;background:url(../img/readmore.png);height:5px;width:9px;}

    .home-story .home-story-contact{color:#fff;width:280px;}
      .home-story-contact .home-story-contact-top{background:#e46e45;font: bold 17px/32px ronnia;text-transform: uppercase;padding: 0 19px;margin:0 0 10px;}
      .home-story-contact .home-story-contact-bottom{background:#e46e45;font: 700 17px/24px ronnia;padding: 4px 19px;margin:0 0 81px;}
      .home-story-contact .home-story-next{}
        .home-story-next span{font: 700 16px/12px ronnia;font-style: italic;display: block;text-align: center;margin:0 0 16px;}
        .home-story-next img{display:block;text-align:center;margin:0 auto;transform:translate(0,0);transition:0.2s all;-webkit-transition:0.2s all;-moz-transition:0.2s all;-ms-transition:0.2s all;-o-transition:0.2s all;}
        .home-story-next:hover{cursor:pointer;}
        .home-story-next:hover img{transform:translate(0,5px);}



/* ==========
  Page
========= */
#content{}
  #content .container{width:880px;}
  #content .container > .gutter{padding:39px 0 0 0;}
  #content #contentPrimary{width: 20.6%;float: left;margin: 0 2% 0 0;}
    #content #contentPrimary .gutter{padding:0;}
    #content #contentPrimary ul.menu{}
      #content #contentPrimary ul.menu li{display:none;}
        #content #contentPrimary ul.menu li.current-menu-item, #content #contentPrimary ul.menu li.current-menu-ancestor{display:block;}
          #content #contentPrimary ul.menu > li.current-menu-item > a, #content #contentPrimary ul.menu li.current-menu-ancestor > a{display:none;}
        #content #contentPrimary ul.menu li.current-menu-item li, #content #contentPrimary ul.menu li.current-menu-ancestor li{display:block;}
        #content #contentPrimary ul.menu li a{color: #323232;font: 13px/13px ronnia;float: left;width: 90%;padding: 10px 5% 9px;margin: 0 0 10px;text-transform: uppercase;}
          #content #contentPrimary ul.menu li a:hover, #content #contentPrimary ul.menu li.current-menu-item > a{color:#fff;}
        body.page-template-default #contentPrimary ul.menu li a{background:#7f97b9;}
        body.page-template-templateswork-tpl-php #contentPrimary ul.menu li a{background:#6eb0bc;}
        body.page-template-templateshelp-tpl-php #contentPrimary ul.menu li a{background:#8e859e;}

  #content #secondaryCont{width:77.4%;float:right;}

  #content #titleCont{float:left;width:100%;}
    #content #titleCont h2.page-title{color: #fff;font: 36px/25px lexia;font-style: italic;margin:0 0 42px;}
    body.page-template-templateswork-tpl-php #content #titleCont h2.page-title{margin:0 0 50px;}

  #content #contentSecondary{float: left;width:56.7%;margin: 0 2.2% 0 0;}
    #content #contentSecondary .gutter{padding:0;}
    #content #contentSecondary .page-intro{font: 22px/30px lexia;font-style: italic;margin:0 0 21px;}
      body.page-template-default #content #contentSecondary .page-intro,
      body.page-template-default #content #contentSecondary h1,
      body.page-template-default #content #contentSecondary h2,
      body.page-template-default #content #contentSecondary h3,
      body.page-template-default #content #contentSecondary h4,
      body.page-template-default #content #contentSecondary h5,
      body.page-template-default #content #contentSecondary h6,
      body.page-template-default #content #contentSecondary a{color:#b5d6ff;}
      body.page-template-templateswork-tpl-php #content #contentSecondary .page-intro,
      body.page-template-templateswork-tpl-php #content #contentSecondary h1,
      body.page-template-templateswork-tpl-php #content #contentSecondary h2,
      body.page-template-templateswork-tpl-php #content #contentSecondary h3,
      body.page-template-templateswork-tpl-php #content #contentSecondary h4,
      body.page-template-templateswork-tpl-php #content #contentSecondary h5,
      body.page-template-templateswork-tpl-php #content #contentSecondary h6,
      body.page-template-templateswork-tpl-php #content #contentSecondary a{color:#85d5e6;}
      body.page-template-templateshelp-tpl-php #content #contentSecondary .page-intro,
      body.page-template-templateshelp-tpl-php #content #contentSecondary h1,
      body.page-template-templateshelp-tpl-php #content #contentSecondary h2,
      body.page-template-templateshelp-tpl-php #content #contentSecondary h3,
      body.page-template-templateshelp-tpl-php #content #contentSecondary h4,
      body.page-template-templateshelp-tpl-php #content #contentSecondary h5,
      body.page-template-templateshelp-tpl-php #content #contentSecondary h6,
      body.page-template-templateshelp-tpl-php #content #contentSecondary a{color:#d6caeb;}

    #content #contentSecondary h1{font: 20px/20px lexia;font-style: italic;margin: 0 0 6px;}
    #content #contentSecondary h2{font: 18px/18px lexia;font-style: italic;margin: 0 0 5px;}
    #content #contentSecondary h3{font: 16px/16px lexia;font-style: italic;margin: 0 0 3px;}
    #content #contentSecondary h4{font: 14px/14px lexia;font-style: italic;margin: 0 0 2px;}
    #content #contentSecondary h5{font: 12px/12px lexia;font-style: italic;margin: 0 0 1px;}
    #content #contentSecondary h6{font: 10px/10px lexia;font-style: italic;margin: 0 0 0px;}

    #content #contentSecondary p + ul{margin-top:-1.5em;}
    #content #contentSecondary ul{margin:0 0 1.5em;}
      #content #contentSecondary ul li{list-style-image:url(../img/contentLiCaret.png);list-style-position:inside;}
    #content #contentSecondary ol{margin:0 0 1.5em;}
      #content #contentSecondary ol li{list-style-position:inside;list-style-type:decimal;}

    #content #contentSecondary table{width:100%;font-family:ronnia;color:#323232;margin:0 0 1.5em;}
      #content #contentSecondary table thead{background:#dbdbdb;}
        #content #contentSecondary table th{padding:10px;font-weight:bold;border:1px solid #dbdbdb;}
      #content #contentSecondary tbody{}
        #content #contentSecondary tbody tr{}
          #content #contentSecondary tbody tr td{background:#f3f3f3;border:1px solid #dbdbdb;padding:5px;}
      #content #contentSecondary tfoot{background:#dbdbdb;}
        #content #contentSecondary tfoot td{padding:10px;font-weight:bold;border:1px solid #dbdbdb;}


  #extraCont{float: left;width: 100%;margin: 0 0 25px;padding: 0 0 18px;border-bottom: 7px solid #fff;}
    #extraCont .work-banner{margin:0 0 7px;}
    #extraCont .work-quote{font:16px/23px ronnia;word-spacing:0.1em;}
    #extraCont .work-attribution{}
      body.page-template-templateswork-tpl-php #extraCont .work-attribution{color:#85d5e6;}

  #content #contentTertiary{width: 41.1%;float: left;font:13px/19px ronnia;}
    #content #contentTertiary > .gutter{padding:0;}
    #contentTertiary .sidebar-pane{background:#7f97b9;color:#323232;margin:0 0 15px;}
      body.page-template-templateswork-tpl-php  #contentTertiary .sidebar-pane{background:#6eb0bc;}
      body.page-template-templateshelp-tpl-php  #contentTertiary .sidebar-pane{background:#8e859e;}
      #contentTertiary .sidebar-pane h1,#contentTertiary .sidebar-pane h2,#contentTertiary .sidebar-pane h3,#contentTertiary .sidebar-pane h4,#contentTertiary .sidebar-pane h5,#contentTertiary .sidebar-pane h6{color:#323232;}
    #content #contentTertiary .sidebar-pane .gutter{padding:18px 20px;}
    #content #contentTertiary ul{list-style-image:url(../img/sideLiCaret.png);list-style-position:inside;}
      #content #contentTertiary ul li{font:12px/19px ronnia;margin: 0 0 19px;letter-spacing: 0.015em;word-spacing: 0.2em;}

    #content #contentTertiary h1{font: 20px/27px ronnia;text-transform: uppercase;letter-spacing: 0.05em;margin: 0 0 28px;}
    #content #contentTertiary h2{font: 18px/25px ronnia;text-transform: uppercase;letter-spacing: 0.05em;margin: 0 0 26px;}
    #content #contentTertiary h3{font: 16px/23px ronnia;text-transform: uppercase;letter-spacing: 0.05em;margin: 0 0 24px;}
    #content #contentTertiary h4{font: 14px/21px ronnia;text-transform: uppercase;letter-spacing: 0.05em;margin: 0 0 22px;}
    #content #contentTertiary h5{font: 12px/19px ronnia;text-transform: uppercase;letter-spacing: 0.05em;margin: 0 0 20px;}
    #content #contentTertiary h6{font: 10px/17px ronnia;text-transform: uppercase;letter-spacing: 0.05em;margin: 0 0 18px;}

    #content #contentTertiary ol{margin:0 0 1.5em;}
      #content #contentTertiary ol li{list-style-position:inside;list-style-type:decimal;font: 12px/19px ronnia;margin: 0 0 19px;letter-spacing: .015em;word-spacing: .2em;}

    #content #contentTertiary table{width:100%;font-family:ronnia;color:#323232;margin:0 0 1.5em;}
      #content #contentTertiary table thead{background:#dbdbdb;}
        #content #contentTertiary table th{padding:10px;font-weight:bold;border:1px solid #dbdbdb;}
      #content #contentTertiary tbody{}
        #content #contentTertiary tbody tr{}
          #content #contentTertiary tbody tr td{background:#f3f3f3;border:1px solid #dbdbdb;padding:5px;}
      #content #contentTertiary tfoot{background:#dbdbdb;}
        #content #contentTertiary tfoot td{padding:10px;font-weight:bold;border:1px solid #dbdbdb;}

    #content #contentTertiary a{color:#fff;}


/* ==========
  Common
========= */



/* ==========
  Footer
========= */
footer{background:#3e3e3e;font:11px/11px ronnia;color:#e46e45;}
  footer .container{}
  footer .container > .gutter{padding:42px 0 42px 31px;}

  footer a{text-decoration:none;color:#7f97b9;}
    footer a strong{color:#b5d6ff;font-weight:bold;text-transform:uppercase;}

  footer .links{}
    footer .links p{margin:0 0 12px;}
  footer .contact{}
    footer .contact p{}

  footer .col{float:left;width:20%;}
    footer .col .gutter{}
  footer .col1{}
    footer .col1 .gutter{padding:0;}
  footer .col2{}
    footer .col2 .gutter{padding:0 0 0 16px;}
  footer .col3{}
    footer .col3 .gutter{padding:0 0 0 30px;}
  footer .col4{width:24%;line-height:15px;}
    footer .col4 .gutter{padding:0 0 0 43px;}
  footer .col5{float: right;width: 13.6%;line-height:15px;}
    footer .col5 .gutter{padding:0;}
